nav {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.699);
    width: 100vw;
    height: var(--nav-height);
    padding: 1.5rem;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;

    li {
        margin-right: 20px;
    }
}

img {
    width: 3rem;
    margin-right: 1.5rem;
    filter: drop-shadow(-2px 2px 1px gray);
}

.cart-items {
    position: relative;
    margin-right: 2rem;

    .cart-icon {
        font-size: 1.5em;
    }

    span {
        position: absolute;
        left: 0;
        bottom: -100%;
        transform: translate(-50%, -50%);
        background: rgb(255, 54, 54);
        color: #fff;
        text-align: center;
        font-size: .7rem;
        border-radius: 50%;
        width: 20px;
        height: auto;
        padding: 3px;
    }
}