nav {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.699);
    width: 100vw;
    height: var(--nav-height);
    padding: 1.5rem 3rem;
}

ul {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    width: 100%;
}

.nav-logo {
    width: 3rem;
    margin-right: 1.5rem;
    filter: drop-shadow(-2px 2px 1px gray);
}

.cart-items {
    position: relative;
    cursor: pointer;

    .cart-icon {
        font-size: 2rem;
        color: var(--default-font-color);
    }

    p {
        position: absolute;
        left: 55%;
        bottom: 35%;
        transform: translate(-50%, 0%);
        /* background: rgb(255, 54, 54); */
        color: #fff;
        text-align: center;
        font-size: .7rem;
        border-radius: 50%;
        width: 20px;
        height: auto;
        padding: 3px;
    }
}

.nav-icon {
    display: none;
}


@media screen and (max-width: 1024px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 -2px 3px #ccc;
        height: 50px;
        width: 100vw;
        padding: 1.5rem;
        z-index: 999;
        transition: transform .3s linear;

        img {
            display: none;
        }

        li span {
            display: none;
        }

        .cart-icon {
            font-size: 1em;
        }

        .nav-icon {
            display: block;
        }
        
    }



}