* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.87);
  --default-font-color: rgba(71, 71, 71, 0.87);
  --hover-color: rgba(0, 0, 255, 0.952);
  --nav-height: 4.5rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

a {
  color: var(--default-font-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  font-weight: 500;
}